* { 
    box-sizing: border-box;
}

body {
    background-color: rgb(87, 42, 211);
    color: rgb(241, 241, 241);
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}